<h2>Lista de Funções</h2>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Imagem</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    @for (category of categorys; track category.name) {
      <tr>
        <td> {{ category.name }}  </td>
        <td>
          <img [src]="category.image" alt="Imagem da Categoria" style="width: 100px; height: 100px;">
        </td>
        <td><button (click)="edit(category.id)">Editar</button><button (click)="delete(category.id)">Excluir</button></td>
      </tr>
    }
  </tbody>
</table>
