<section>
  <h1>Quem Somos</h1>
  <p>Somos uma emrpesa dedicada ao sucesso do aluno, com anos de experiencia no mercado e o compromisso constante de oferecer o que há de melhor em aprendizado e desenvolvimento.</p>
  <p>Sempre inovamos para que mais alunos tenham qualificação de ponta por um preço justo e acessivel. Sabemos que o Ensino a Distancia é o futuro, estudar no conforto da sua casa ou em qualquer outro lugar que voçe queira, não tem preço.</p>
</section>

<app-benefits></app-benefits>

<app-testimonials></app-testimonials>

<app-our-space></app-our-space>
