<section class="about-section">
  <h1>Quem Somos</h1>
  <div class="about-content">
    <p>Somos uma empresa especializada em treinamentos que realiza a <br> formação de profissionais qualificados para atuar no mercado de <br> trabalho. </p>
    
    <p>Nascemos com o propósito de potencializar os resultados profissionais <br> através do ensino de metodologias ativas, associadas com aulas teóricas <br> e práticas para a construção de novos conhecimentos.</p>
    
    <p>Acreditamos que o <span>conhecimento</span> é a <span>chave mestra</span> para abertura de <br> <span>oportunidades</span> e <span>crescimento</span> pessoal e profissional.</p>
  </div>
</section>

<app-benefits></app-benefits>

<app-testimonials></app-testimonials>

<app-our-space></app-our-space>
