<ng-container *ngIf="loadingService.isLoading()">
  <div class="loading-spinner">Carregando...</div>
</ng-container>

<app-generic-form
  *ngIf="!(loadingService.isLoading())"
  [config]="formConfig()"
  [submitButtonText]="isEditMode() ? 'Atualizar' : 'Cadastrar'"
  (formSubmit)="onSubmit($event)"
></app-generic-form>

<ng-container *ngIf="isEditMode()">
  <button (click)="classModal.toggle()">Turmas</button>
  <app-modal #classModal>
    <h4>Turmas do Estudante</h4>
    <app-class-selector [studentId]="studentId()!" #classSelector></app-class-selector>
  </app-modal>

  <button (click)="courseModal.toggle()">Cursos e Pacotes</button>
  <app-modal #courseModal>
    <h4>Selecionar Cursos e Pacotes</h4>
    <app-course-selector [studentId]="studentId()!" #courseSelector></app-course-selector>
    <app-package-selector [studentId]="studentId()!" #packageSelector></app-package-selector>

    <div class="form-group">
      <h4>Cursos Cadastrados</h4>
      <div *ngFor="let course of courseSelector.selectedCourses()">
        <p>
          <strong>{{ course.name }}</strong> - {{ course.description }}
        </p>
        <p>
          <Button (click)="courseSelector.removeCourseFromStudent(course.id)"
            >Remover</Button
          >
        </p>
      </div>
    </div>
    <div class="form-group">
      <h4>Pacotes Cadastrados</h4>
      <div *ngFor="let package of packageSelector.selectedPackages()">
        <p>
          <strong>{{ package.name }}</strong> - {{ package.description }}
        </p>
        <p>
          <Button (click)="packageSelector.removePackage(package.id)"
            >Remover</Button
          >
        </p>
      </div>
    </div>

    <button
      (click)="
        courseSelector.updateStudentCourses();
        packageSelector.updateStudentPackages();
        courseModal.toggle()
      "
    >
      Salvar Cursos e Pacotes
    </button>
  </app-modal>
</ng-container>
