<div class="course-selector">
  <h3>{{ singleSelection() ? 'Selecione um curso' : 'Selecione os cursos' }}</h3>
  <app-search-bar
    [dataList]="nonSelectedCourses()"
    #searchBarComponent
  ></app-search-bar>

  <ul class="course-list">
    @for (course of searchBarComponent.filteredList(); track course.id) {
      <li class="course-item-enter">
        <label>
          <input
            type="checkbox"
            [checked]="isCourseSelected(course.id)"
            (change)="onCourseSelect(course)"
            [disabled]="singleSelection() && selectedCourseIds().size > 0 && !isCourseSelected(course.id)"
          />
          {{ course.name }}
        </label>
      </li>
    }
  </ul>

  @if (!singleSelection()) {
    <div class="selected-courses">
      <h4>Cursos selecionados:</h4>
      <ul>
        @for (course of selectedCourses(); track course.id) {
          <li>
            {{ course.name }}
            <button (click)="removeCourse(course.id)">Remover</button>
          </li>
        }
      </ul>
    </div>
  }@else {
    <div class="selected-courses">
      <h4>Curso selecionado:</h4>
      <ul>
        @for (course of selectedCourses(); track course.id) {
          <li>
            {{ course.name }}
            <button (click)="removeCourse(course.id)">Remover</button>
          </li>
        }
      </ul>
    </div>
  }
</div>
