<h2>Lista de Alunos</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Foto</th>
      <th>Nome</th>
      <th>Fone</th>
      <th>CyearsOld</th>
      <th>Polo</th>
      <th>Status</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    @for (employees of employeess; track employees.cpf) {
      <tr>
        <td>{{ employees.id }}</td><td> <img width="25" [src]="employees.profilePic" alt=""> </td><td>{{ employees.name }}</td><td>{{ employees.phone1 }}</td><td>{{ employees.city }}</td><td>{{ employees.polo }} </td><td>{{ employees.status }}</td>

        <td><button (click)="editEmployees(employees.id)">Editar</button><button (click)="deleteEmployees(employees.id)">Excluir</button></td>

      </tr>
    }
  </tbody>
</table>
