<div class="login-container">
  <h2>Bem-vindo de volta!</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">E-mail</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        placeholder="Seu e-mail"
      />
    </div>

    <div class="form-group">
      <label for="password">Senha</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        placeholder="Sua senha"
      />
    </div>
    <button type="submit" [disabled]="isLoading">
      {{ isLoading ? "Carregando..." : "Entrar" }}
    </button>
  </form>
</div>

@defer(on viewport) {
<p>commentarios ...............</p>
} @placeholder {
<p>Future comments</p>
} @loading (minimum 2s) {
<p>Loading comments...</p>
}
