<p>login works!</p>
Já é um usuário?
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">E-mail</label>
    <input
      id="email"
      formControlName="email"
      class="form-control"
      type="email"
    />
  </div>

  <div class="form-group">
    <label for="password">Senha</label>
    <input
      id="password"
      formControlName="password"
      class="form-control"
      type="password"
    />
  </div>

  <button type="submit" [disabled]="isLoading">
    {{ isLoading ? "Carregando..." : "Entrar" }}
  </button>
</form>

@defer(on viewport) {
<p>commentarios ...............</p>
} @placeholder {
<p>Future comments</p>
} @loading (minimum 2s) {
<p>Loading comments...</p>
}
