<form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Nome</label>
    <input id="name" formControlName="name" class="form-control" />
    <div *ngIf="roleForm.get('name')?.invalid && roleForm.get('name')?.touched" class="text-danger">
      Nome é obrigatório.
    </div>
  </div>

  <div class="form-group">
    <label for="permissions">Selecione as permissões:</label>
    <select id="permissions" formControlName="permissions" multiple class="form-control">
      <option *ngFor="let permission of permissionsList" [value]="permission">
        {{ permission }}
      </option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="roleForm.invalid">Cadastrar Aluno</button>
</form>
