$color-primary: #384A87;
$color-secondary: #ee3c48;

:host {
  display: block;
  min-height: calc(100vh - 80px);
  background:
  linear-gradient(90deg, rgba(238, 60, 72, 0.2) 0%, rgba(56, 74, 135, 0.2) 100%), #000000;
}








