<div class="our-space">
  <div class="slider">
    <button class="slider--btn slider--btn__prev" (click)="prevSlide()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m15 18-6-6 6-6" />
      </svg>
    </button>

    <div class="slides__wrapper">
      <div class="slides">
        <div class="slide" *ngFor="let image of images; let i = index"
             [attr.data-current]="getSlideState(i) === 'current' ? '' : null"
             [attr.data-next]="getSlideState(i) === 'next' ? '' : null"
             [attr.data-previous]="getSlideState(i) === 'previous' ? '' : null">
          <div class="slide__inner">
            <div class="slide--image__wrapper">
              <img class="slide--image" [src]="image" [alt]="'Imagem ' + (i + 1)" />
            </div>
          </div>
          <div class="slide-info">
            <div data-title class="slide-info--text">
              <span>{{titles[i]}}</span>
            </div>
            <div data-subtitle class="slide-info--text">
              <span>{{subtitles[i]}}</span>
            </div>
            <div data-description class="slide-info--text">
              <span>{{descriptions[i]}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="slider--btn slider--btn__next" (click)="nextSlide()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m9 18 6-6-6-6" />
      </svg>
    </button>
  </div>
</div>
