<div class="package-selector">
  <h3>{{ singleSelection() ? 'Selecione um pacote' : 'Selecione os pacotes' }}</h3>
  <app-search-bar
    [dataList]="nonSelectedPackages()"
    #searchBarComponent
  ></app-search-bar>

  <ul class="package-list">
    @for (package of searchBarComponent.filteredList(); track package.id) {
      <li class="package-item-enter">
        <label>
          <input
            type="checkbox"
            [checked]="isPackageSelected(package.id)"
            (change)="onPackageSelect(package)"
            [disabled]="singleSelection() && selectedPackageIds().size > 0 && !isPackageSelected(package.id)"
          />
          {{ package.name }}
        </label>
      </li>
    }
  </ul>

  @if (!singleSelection()) {
    <div class="selected-packages">
      <h4>Pacotes selecionados:</h4>
      <ul>
        @for (package of selectedPackages(); track package.id) {
          <li>
            {{ package.name }}
            <button (click)="removePackage(package.id)">Remover</button>
          </li>
        }
      </ul>
    </div>
  }@else {
    <div class="selected-packages">
      <h4>Pacote selecionado:</h4>
      <ul>
        @for (package of selectedPackages(); track package.id) {
          <li>
            {{ package.name }}
            <button (click)="removePackage(package.id)">Remover</button>
          </li>
        }
      </ul>
    </div>
  }
</div>
