<div class="package-selector">
  <app-search-bar
    [dataList]="nonSelectedPackages()"
    #searchBarComponent
  ></app-search-bar>

  <div
    *ngFor="let package of searchBarComponent.filteredList(); let i = index"
    class="form-group"
    [style.--animation-order]="i"
  >
    <label>
      <input
        type="checkbox"
        [checked]="selectedPackageIds().has(package.id)"
        (change)="onCheckboxChange(package.id, $event)"
      />
      {{ package.name }}
    </label>
  </div>
</div>
