<button routerLink="/login">Entrar</button>

<div class="ecommerce-container">
  <section class="hero">
    <img src="https://firebasestorage.googleapis.com/v0/b/master-key-a3c69.appspot.com/o/capa.jpg?alt=media&token=53295872-c1b9-49c8-ae0a-f85129ee19da" alt="Imagem de negócios" class="hero-image">
    <div class="hero-content">
      <h1>Bem-vindo à Nossa Loja</h1>
      <p>Descubra nossos cursos e pacotes incríveis</p>
    </div>
  </section>

  <section class="products">
    <h2>Nossos Cursos</h2>
    <div class="carousel">
      <!-- Aqui você irá iterar sobre os cursos -->
      <div *ngFor="let course of courses" class="product-card">
        <img [src]="course.image" [alt]="course.name">
        <h3>{{ course.name }}</h3>
        <p>{{ course.description }}</p>
        <p>Preço: {{ course.hidePrice ? 'Sob consulta' : course.price }}</p>
        <button>Comprar</button>
      </div>
    </div>

    <h2>Nossos Pacotes</h2>
    <div class="carousel">
      <!-- Aqui você irá iterar sobre os pacotes -->
      <div *ngFor="let package of packages" class="product-card">
        <h3>{{ package.name }}</h3>
        <p>{{ package.description }}</p>
        <p>Preço: {{ package.price }}</p>
        <button>Comprar</button>
      </div>
    </div>
  </section>

  <section class="about">
    <h2>Sobre Nós</h2>
    <p>Informações sobre o negócio aqui...</p>
  </section>
</div>
