<h2>Lista de Alunos</h2>
<table>
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nome</th>
      <th>Fone</th>
      <th>Idade</th>
      <th>Polo</th>
      <th>Status</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    @for (student of displayedStudents; track student.cpf) {
    <tr>
      <td><img width="25" [src]="student.iconUrl" alt="" /></td>
      <td>{{ student.name }}</td>
      <td>{{ student.phone1 }}</td>
      <td>{{ student.yearsOld }}</td>
      <td>{{ student.polo }}</td>
      <td>
        <button (click)="editStudent(student.id)">Editar</button>
        <button (click)="deleteStudent(student.id)">Excluir</button>
      </td>
    </tr>
    }
  </tbody>
</table>

<app-pagination
  [currentPage]="currentPage"
  [totalItems]="students.length"
  [pageSize]="pageSize"
  (pageChange)="onPageChange($event)"
></app-pagination>
