<div class="student-list-container">
  <div class="header">
    <div class="title-section">
      <h2>Lista de Alunos</h2>      
    </div>
    <app-search-bar [dataList]="students()" #searchBar></app-search-bar>
  </div>

  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th class="th-image">Foto</th>
          <th class="th-name">Nome</th>
          <th class="th-phone">Fone</th>
          <th class="th-age">Idade</th>
          <th class="th-cpf">CPF</th>
          <th class="th-actions">Ações</th>
        </tr>
      </thead>
      <tbody>
        @for (student of searchBar.filteredList(); track student.id) {
        <tr>
          <td class="td-image">
            <div class="student-image">
              <img [src]="getImageUrl(student.profilePic)"
                   [alt]="student.name"
                    />
            </div>
          </td>
          <td class="td-name">{{ student.name }}</td>
          <td class="td-phone">{{ student.phone1 }}</td>
          <td class="td-age">{{ student.yearsOld }}</td>
          <td class="td-cpf">{{ formatCpf(student.cpf) }}</td>
          <td class="td-actions">
            <div class="action-buttons">
              <button class="btn-edit" (click)="editStudent(student.id)">
                <i class="fas fa-edit"></i>
                <span>Editar</span>
              </button>
              <button class="btn-certificate"
                      (click)="openCertificateModal(student.id);certificateModal.toggle()">
                <i class="fas fa-certificate"></i>
                <span>Certificado</span>
              </button>
              <button class="btn-delete" (click)="deleteStudent(student)">
                <i class="fas fa-trash"></i>
                <span>Excluir</span>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="pagination-container">
    <app-pagination
      [currentPage]="currentPage()"
      [totalItems]="students().length"
      [pageSize]="pageSize()"
      (pageChange)="onPageChange($event)"
    ></app-pagination>
  </div>
</div>

<app-modal #certificateModal>
  <app-student-certificate [studentId]="selectedStudentId()"></app-student-certificate>
</app-modal>

<app-confirmation-dialog></app-confirmation-dialog>
