<div
  class="sidenav"
  [class.expanded]="isExpanded"
  (mouseenter)="expandSidenav()"
  (mouseleave)="collapseSidenav()"
>
  <ul>
    <li *ngFor="let item of menuItems">
      <button (click)="toggleDropdown(item.id)">
        <i class="icon" [class]="item.icon"></i>
        <span class="label">{{item.label}}</span>
      </button>
      <ul [class.dropdown]="true" [class.active]="isDropdownOpen(item.id)">
        <li *ngFor="let subItem of item.subItems">
          <ng-container *ngIf="!subItem.isModal">
            <a [routerLink]="[subItem.route]">{{subItem.label}}</a>
          </ng-container>
          <ng-container *ngIf="subItem.isModal">
            <app-modal #modalWhatsAppMessage>
              <app-whats-app-message></app-whats-app-message>
            </app-modal>
          </ng-container>
        </li>
      </ul>
    </li>
  </ul>
</div>
