<div
  class="sidenav"
  [class.expanded]="isExpanded"
  (mouseenter)="expandSidenav()"
  (mouseleave)="collapseSidenav()"
>
  
  <ul class="menu-list">
    <li *ngFor="let item of menuItems">
      <button
        (click)="toggleDropdown(item.id)"
        [class.active-parent]="isDropdownOpen(item.id) && hasActiveRoute(item)"
      >
        <i class="icon" [class]="item.icon"></i>
        <span class="label">{{item.label}}</span>
      </button>
      <ul [class.dropdown]="true" [class.active]="isDropdownOpen(item.id)">
        <li *ngFor="let subItem of item.subItems">
          <ng-container *ngIf="!subItem.isModal">
            <a
              [routerLink]="[subItem.route]"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              [class.active]="isRouteActive(subItem.route)"
            >
              {{subItem.label}}
            </a>
          </ng-container>
          <ng-container *ngIf="subItem.isModal">
            <a class="modal-link" (click)="openModal(subItem)">
              {{subItem.label}}
            </a>
          </ng-container>
        </li>
      </ul>
    </li>
    <li class="collapse-button" (click)="toggleSidenav()">
      <i class="fas" [class.fa-chevron-left]="isExpanded" [class.fa-chevron-right]="!isExpanded"></i>
    </li>
  </ul>

  <!-- Botão de Logout -->
  <div class="logout-container">
    <button class="logout-button" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i>
      <span class="label">Sair</span>
    </button>
  </div>
</div>

<!-- Modais -->
<app-modal #whatsAppModal position="center">
  <app-whats-app-message></app-whats-app-message>
</app-modal>
