<form [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Título da Reunião</label>
    <input id="title" formControlName="title" class="form-control" />
  </div>

  <div class="form-group">
    <label for="startDate">Data</label>
    <input
      id="startDate"
      type="date"
      formControlName="startDate"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="startTime">Hora de Início</label>
    <input
      id="startTime"
      type="time"
      formControlName="startTime"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="endTime">Hora de Término</label>
    <input
      id="endTime"
      type="time"
      formControlName="endTime"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="selectedClass">Selecione a Turma</label>
    <select
      id="selectedClass"
      formControlName="selectedClass"
      class="form-control"
    >
      <option *ngFor="let class of availableClasses" [value]="class.id">
        {{ class.name }}
      </option>
    </select>
  </div>

  <button
    type="button"
    (click)="authenticateWithGoogle()"
    *ngIf="!isAuthenticated"
  >
    Autenticar com Google
  </button>

  <button type="submit" [disabled]="!isAuthenticated || meetingForm.invalid">
    Criar Reunião
  </button>

  <ng-container *ngIf="showMeetIcon">
    <button (click)="openMeetLink()">
      <i class="fas fa-video"></i> Abrir Google Meet
    </button>
  </ng-container>
  
  <button *ngIf="showMeetIcon" (click)="router.navigate(['/meet-details', meetLink])">
    Ver Detalhes da Reunião
  </button> 
</form>

<p *ngIf="isAuthenticated">Autenticado com sucesso!</p>
