<div *ngIf="loading" class="loading-spinner">
  <!-- Indicador de carregamento, pode ser um spinner ou mensagem -->
  Carregando dados do estudante...
</div>

<!-- <div *ngIf="classes.lenght > 0" class="loading-spinner">
  Carregando dados do estudante...
</div> -->

<form *ngIf="!loading" [formGroup]="studentForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input id="nome" formControlName="nome" class="form-control" />
    <div
      *ngIf="
        studentForm.get('nome')?.invalid && studentForm.get('nome')?.touched
      "
      class="text-danger"
    >
      Nome é obrigatório.
    </div>
  </div>

  <div class="form-group">
    <label for="email">E-mail</label>
    <input
      id="email"
      formControlName="email"
      class="form-control"
      type="email"
    />
    <div
      *ngIf="
        studentForm.get('email')?.invalid && studentForm.get('email')?.touched
      "
      class="text-danger"
    >
      E-mail inválido.
    </div>
  </div>

  <div class="form-group">
    <label for="cep">CEP</label>
    <input id="cep" formControlName="cep" class="form-control" />
    <div
      *ngIf="studentForm.get('cep')?.invalid && studentForm.get('cep')?.touched"
      class="text-danger"
    >
      CEP é obrigatório.
    </div>
  </div>

  <div class="form-group">
    <label for="cpf">CPF</label>
    <input id="cpf" formControlName="cpf" class="form-control" />
    <div
      *ngIf="studentForm.get('cpf')?.invalid && studentForm.get('cpf')?.touched"
      class="text-danger"
    >
      CPF inválido.
    </div>
  </div>

  <div class="form-group">
    <label for="phone1">Fone 1</label>
    <input id="phone1" formControlName="phone1" class="form-control" />
    <div
      *ngIf="
        studentForm.get('phone1')?.invalid && studentForm.get('phone1')?.touched
      "
      class="text-danger"
    >
      Telefone 1 é obrigatório.
    </div>
  </div>

  <div class="form-group">
    <label for="phone2">Fone 2</label>
    <input id="phone2" formControlName="phone2" class="form-control" />
  </div>

  <div class="form-group">
    <label for="rg">RG</label>
    <input id="rg" formControlName="rg" class="form-control" />
    <div
      *ngIf="studentForm.get('rg')?.invalid && studentForm.get('rg')?.touched"
      class="text-danger"
    >
      RG é obrigatório.
    </div>
  </div>

  <div class="form-group">
    <label for="street">Rua</label>
    <input id="street" formControlName="street" class="form-control" />
    <div
      *ngIf="
        studentForm.get('street')?.invalid && studentForm.get('street')?.touched
      "
      class="text-danger"
    >
      Rua é obrigatória.
    </div>
  </div>

  <div class="form-group">
    <label for="neighborhood">Bairro</label>
    <input
      id="neighborhood"
      formControlName="neighborhood"
      class="form-control"
    />
    <div
      *ngIf="
        studentForm.get('neighborhood')?.invalid &&
        studentForm.get('neighborhood')?.touched
      "
      class="text-danger"
    >
      Bairro é obrigatório.
    </div>
  </div>

  <div class="form-group">
    <label for="city">Cidade</label>
    <input id="city" formControlName="city" class="form-control" />
    <div
      *ngIf="
        studentForm.get('city')?.invalid && studentForm.get('city')?.touched
      "
      class="text-danger"
    >
      Cidade é obrigatória.
    </div>
  </div>

  <div class="form-group">
    <label for="state">Estado</label>
    <input id="state" formControlName="state" class="form-control" />
    <div
      *ngIf="
        studentForm.get('state')?.invalid && studentForm.get('state')?.touched
      "
      class="text-danger"
    >
      Estado é obrigatório.
    </div>
  </div>

  <div class="form-group">
    <label for="number">Número</label>
    <input id="number" formControlName="number" class="form-control" />
    <div
      *ngIf="
        studentForm.get('number')?.invalid && studentForm.get('number')?.touched
      "
      class="text-danger"
    >
      Número é obrigatório.
    </div>
  </div>

  <div class="form-group">
    <label for="birthday">Data de Nascimento</label>
    <input
      id="birthday"
      formControlName="birthday"
      class="form-control"
      type="date"
    />
    <div
      *ngIf="
        studentForm.get('birthday')?.invalid &&
        studentForm.get('birthday')?.touched
      "
      class="text-danger"
    >
      Data de nascimento é obrigatória.
    </div>
  </div>

  <div class="form-group">
    <label for="yearsOld">Idade</label>
    <input
      id="yearsOld"
      formControlName="yearsOld"
      class="form-control"
      type="number"
    />
    <div
      *ngIf="
        studentForm.get('yearsOld')?.invalid &&
        studentForm.get('yearsOld')?.touched
      "
      class="text-danger"
    >
      Idade é obrigatória e deve ser maior que zero.
    </div>
  </div>

  <div class="form-group">
    <label for="password">Senha</label>
    <input
      id="password"
      formControlName="password"
      class="form-control"
      type="password"
    />
    <div
      *ngIf="
        studentForm.get('password')?.invalid &&
        studentForm.get('password')?.touched
      "
      class="text-danger"
    >
      Senha é obrigatória e deve ter pelo menos 6 caracteres.
    </div>
  </div>

  <div class="form-group">
    <label for="status">Status</label>
    <select id="status" formControlName="status" class="form-control">
      <option value="ativo">Ativo</option>
      <option value="inativo">Inativo</option>
    </select>
  </div>

  <div class="form-group">
    <label for="responsible">Responsável</label>
    <input
      id="responsible"
      formControlName="responsible"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="responsibleRg">RG do Responsável</label>
    <input
      id="responsibleRg"
      formControlName="responsibleRg"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="responsibleCpf">CPF do Responsável</label>
    <input
      id="responsibleCpf"
      formControlName="responsibleCpf"
      class="form-control"
    />
    <div
      *ngIf="
        studentForm.get('responsibleCpf')?.invalid &&
        studentForm.get('responsibleCpf')?.touched
      "
      class="text-danger"
    >
      CPF do responsável inválido.
    </div>
  </div>

  <div class="form-group">
    <label for="profilePic">Foto de Perfil</label>
    <input
      id="profilePic"
      formControlName="profilePic"
      class="form-control"
      type="file"
      (change)="onFileChange($event)"
    />
  </div>

  <div class="form-group">
    <label for="sex">Sexo</label>
    <select id="sex" formControlName="sex" class="form-control">
      <option value="masculino">Masculino</option>
      <option value="feminino">Feminino</option>
    </select>
  </div>

  <div class="form-group">
    <label for="polo">Polo</label>
    <input id="polo" formControlName="polo" class="form-control" />
    <div
      *ngIf="
        studentForm.get('polo')?.invalid && studentForm.get('polo')?.touched
      "
      class="text-danger"
    >
      Polo é obrigatório.
    </div>
  </div>

  <div class="form-group">
    <label for="description">Observações</label>
    <textarea
      id="description"
      formControlName="description"
      class="form-control"
    ></textarea>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="studentForm.invalid || studentForm.pristine"
  >
    Cadastrar Aluno
  </button>
</form>

<div *ngIf="error" class="text-danger">
  {{ error }}
</div>

<button (click)="classModal.toggle()">Turmas</button>
<app-modal #classModal>
  <h4>Todas Turmas</h4>
  <app-class-selector
    [studentId]="studentId"
    #classSelector
  ></app-class-selector>

  <div class="form-group">
    <h4>Turmas Cadastradas</h4>
    <div *ngFor="let class of classSelector.selectedClasses()">
      <p>
        <strong>{{ class.name }}</strong> - {{ class.teacher }}
      </p>
      <p>
        <button (click)="classSelector.removeClass(class.id)">Remover</button>
      </p>
    </div>
  </div>
  <button
    (click)="classSelector.updateStudentClasses()"
    [disabled]="classSelector.isSaving()"
  >
    {{ classSelector.isSaving() ? "Salvando..." : "Salvar Turmas" }}
  </button>
</app-modal>

<button (click)="courseModal.toggle()">Cursos</button>
<app-modal #courseModal>
  <h4>Selecionar Cursos e Pacotes</h4>
  <app-course-selector
    [studentId]="studentId"
    #courseSelector
  ></app-course-selector>
  <app-package-selector
    [studentId]="studentId"
    #packageSelector
  ></app-package-selector>

  <div class="form-group">
    <h4>Cursos Cadastrados</h4>
    <div *ngFor="let course of courseSelector.selectedCourses()">
      <p>
        <strong>{{ course.name }}</strong> - {{ course.description }}
      </p>
      <p>
        <Button (click)="courseSelector.removeCourseFromStudent(course.id)"
          >Remover</Button
        >
      </p>
    </div>
  </div>
  <div class="form-group">
    <h4>Pacotes Cadastrados</h4>
    <div *ngFor="let package of packageSelector.selectedPackages()">
      <p>
        <strong>{{ package.name }}</strong> - {{ package.description }}
      </p>
      <p>
        <Button (click)="packageSelector.removePackage(package.id)"
          >Remover</Button
        >
      </p>
    </div>
  </div>

  <button
    (click)="
      courseSelector.updateStudentCourses();
      packageSelector.updateStudentPackages();
      courseModal.toggle()
    "
  >
    Salvar Cursos
  </button>
</app-modal>
