.content {
  margin-left: 60px; // Alinhe com a largura da sidenav quando está colapsada
  padding: 20px;
  transition: margin-left 0.3s ease;

   .expanded ~ & {
    margin-left: 240px;
    @media (max-width: 1024px) {
      margin-left: 60px; // Alinhe com a largura da sidenav quando expandida
    }  
  }
}