<header class="header">
  <!-- Grupo 1: Logo/Ícone -->
  <div class="header-logo">
    <a routerLink="/home">
      <img src="assets/logo.png" alt="Logo" class="logo">
    </a>
  </div>

  <button class="hamburger-btn" (click)="toggleMenu()" [class.active]="isMenuOpen()">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <!-- Grupo 2: Botões de Navegação -->
  <nav class="header-nav" [class.open]="isMenuOpen()">
    <button class="close-btn" (click)="isMenuOpen.set(false)">
      <i class="material-icons">chevron_right</i>
    </button>
    <button routerLink="/home" routerLinkActive="active" (click)="isMenuOpen.set(false)">
      <i class="material-icons">home</i>
      <span>Início</span>
    </button>
    <button routerLink="/products" routerLinkActive="active" (click)="isMenuOpen.set(false)">
      <i class="material-icons">school</i>
      <span>Nossos cursos</span>
    </button>
    <button routerLink="/about" routerLinkActive="active" (click)="isMenuOpen.set(false)">
      <i class="material-icons">groups</i>
      <span>Quem Somos</span>
    </button>
    <button routerLink="/contact" routerLinkActive="active" (click)="isMenuOpen.set(false)">
      <i class="material-icons">contact_support</i>
      <span>Contato</span>
    </button>
    <button class="mobile-only" routerLink="/login" routerLinkActive="active" (click)="isMenuOpen.set(false)">
      <i class="material-icons">person</i>
      <span>Já sou Aluno</span>
    </button>
  </nav>

  <!-- Grupo 3: Ícone de Perfil -->
  <div class="header-profile">
    <button routerLink="/login" class="profile-btn" glassEffect>
      Já Sou Aluno
    </button>
  </div>
</header>
