<form [formGroup]="form()" (ngSubmit)="onSubmit()" class="form-container">
  <h1 class="form-title">{{ formTitle() }}</h1>
  <ng-container>
    <div class="form-grid">
      @for (field of formConfig(); track trackByFn) {
        <div class="form-group" [ngSwitch]="field.type" [class.full-width]="field.type === 'textarea'" [class.checkbox-group]="field.type === 'checkbox'">
          <label [for]="field.name">{{ field.label }}</label>

          <ng-container *ngSwitchCase="'text'">
            <input [id]="field.name" [formControlName]="field.name"
                  class="form-control" type="text">
          </ng-container>

          <input *ngSwitchCase="'email'" [id]="field.name" [formControlName]="field.name"
                class="form-control" type="email">

          <input *ngSwitchCase="'number'" [id]="field.name" [formControlName]="field.name"
                class="form-control" type="number">

          <input *ngSwitchCase="'date'" [id]="field.name" [formControlName]="field.name"
                class="form-control" type="date">

          <input *ngSwitchCase="'file'" [id]="field.name" [formControlName]="field.name"
                class="form-control" type="file" (change)="field.onFileChange && field.onFileChange($event)">

          <input *ngSwitchCase="'password'" [id]="field.name" [formControlName]="field.name"
                class="form-control" type="password">

          <input *ngSwitchCase="'checkbox'" [id]="field.name" [formControlName]="field.name"
                class="form-control-checkbox" type="checkbox">

          <select *ngSwitchCase="'select'" [id]="field.name" [formControlName]="field.name" class="form-control">
            <option *ngFor="let option of field.options" [value]="option.value">
              {{ option.label }}
            </option>
          </select>

          <textarea *ngSwitchCase="'textarea'" [id]="field.name" [formControlName]="field.name"
                    class="form-control"></textarea>

          <div *ngIf="(form().get(field.name)?.invalid && (form().get(field.name)?.touched || submitted()))"
               class="text-danger">
            {{ getErrorMessage(field.name) }}
          </div>
        </div>
      }
    </div>

    <div *ngIf="form().errors?.['passwordMismatch']" class="error-message">
      As senhas não coincidem
    </div>
  </ng-container>

  <ng-content></ng-content>

  <button type="submit" class="btn btn-primary">
    {{ submitButtonText() }}
  </button>
</form>

