<form *ngIf="!loading" [formGroup]="courseForm" (ngSubmit)="onSubmit()">
  <button type="button" class="btn btn-primary mt-3" (click)="categorySelectorModal.toggle()">Categoria</button>
  <app-modal #categorySelectorModal>
    <app-category-selector formControlName="category" [defaultCategoryId]="categoryId()"></app-category-selector>
  </app-modal>

  <button type="button" class="btn btn-primary mt-3" (click)="videoSelectorModal.toggle()" *ngIf="isAuthenticated">
    Selecionar Vídeos
  </button>

  <app-modal #videoSelectorModal>
    <button *ngIf="!isAuthenticated" (click)="authenticateWithGoogle()">Autenticar com Google</button>
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Selecionar Vídeos do Drive</h5>
          <button type="button" class="close" (click)="videoSelectorModal.toggle()">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-video-selector
            #videoSelector
          ></app-video-selector>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="videoSelectorModal.toggle()">Fechar</button>
          <!-- <button type="button" class="btn btn-primary" (click)="updateSelectedVideos(videoSelector.selectedVideos());videoSelectorModal.toggle()">Confirmar Seleção</button> -->
        </div>
      </div>
    </div>
  </app-modal>

  <div formArrayName="videos">
    <div
      *ngFor="let video of videosFormArray.controls; let i = index"
      [formGroupName]="i"
      class="form-group"
    >
      <input formControlName="name" placeholder="Nome do vídeo">
      <input formControlName="duration" type="number" placeholder="Duração (em segundos)">
      <input formControlName="webViewLink" placeholder="Link do vídeo">
      <button type="button" (click)="removeVideo(i)">Remover</button>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary mt-3"
    [disabled]="courseForm.invalid || courseForm.pristine"
  >
    Atualizar Curso
  </button>
</form>



<button type="button" class="btn btn-primary mt-3" (click)="courseReviewModal.toggle()">Review</button>
<app-modal #courseReviewModal>
  <app-course-review [courseId]="courseId"></app-course-review>
</app-modal>

<button type="button" class="btn btn-primary mt-3" (click)="handoutSelectorModal.toggle()">Apostila</button>
<app-modal #handoutSelectorModal>
<app-handout-selector [courseId]="courseId"></app-handout-selector>
</app-modal>

<button type="button" class="btn btn-primary mt-3" (click)="bookSelectorModal.toggle()">Biblioteca</button>
<app-modal #bookSelectorModal>
<app-book-selector [courseId]="courseId"></app-book-selector>
</app-modal>

<a [routerLink]="['/admin/course-library', courseId]">Editar</a>

<button
  *ngIf="courseId"
  class="btn btn-secondary mt-3"
  [routerLink]="['/admin/exams', courseId]"
>
  Gerenciar Exames
</button>
