<h2>Lista de Funções</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Permissões</th>
    </tr>
  </thead>
  <tbody>
    @for (role of roles; track role.name) {
    <tr>
      <td>{{ role.id }}</td>
      <td>{{ role.name }}</td>
      <td>
        @for(permission of role.permissions; track permission) {
        {{ permission }}
        }
      </td>
      <td>
        <button (click)="editRole(role.id)">Editar</button>
        <button (click)="deleteRole(role.id)">Excluir</button>
      </td>
    </tr>
    }
  </tbody>
</table>
