<section class="products">
  <div class="header">
    <h1>Conheça nossos <strong>cursos</strong></h1>
    <app-search-bar
      [dataList]="filteredCourses()"
      #searchBarComponent
    ></app-search-bar>
  </div>

  <div class="content">
    <div class="filters">
      <h3>Categoria</h3>
      <div class="categories">
        <button
          *ngFor="let category of categories()"
          [class.active]="selectedCategory() === category.id"
          (click)="updateCategory(category.id)">
          {{category.name}}
        </button>
      </div>

      <h3>Ordem</h3>
      <div class="order">
        <button
          [class.active]="selectedOrder() === 'Alfabética'"
          (click)="updateOrder('Alfabética')">
          Alfabética
        </button>
        <button
          [class.active]="selectedOrder() === 'Preço Crescente'"
          (click)="updateOrder('Preço Crescente')">
          Preço Crescente
        </button>
        <button
          [class.active]="selectedOrder() === 'Preço Decrescente'"
          (click)="updateOrder('Preço Decrescente')">
          Preço Decrescente
        </button>
      </div>

      <h3>Preço Máximo: R$ {{priceRange() | number:'1.2-2'}}</h3>
      <input
        type="range"
        [ngModel]="priceRange()"
        (ngModelChange)="updatePriceRange($event)"
        [min]="0"
        [max]="maxPrice()"
        [step]="100">
    </div>

    <div class="courses-grid">
      <div class="course-card" *ngFor="let course of searchBarComponent.filteredList()">
          <img [src]="course.image" [alt]="course.name">
          <div class="course-info">
            <h3>{{course.name}}</h3>
            <p>{{course.description}}</p>
            <div class="price-info">
              <span *ngIf="!course.hidePrice">
                Até {{course.portionCount}}x no cartão ou boleto
              </span>
              <strong *ngIf="!course.hidePrice">
                R${{course.price.toFixed(2)}}
              </strong>
              <span *ngIf="course.hidePrice">Sob Consulta</span>
            </div>
            <div class="card-actions">
              <button class="btn-details" (click)="redirectToCourse(course.id)">
                <i class="fas fa-info-circle"></i>
                Ver Detalhes
              </button>
              <button class="btn-buy" (click)="buyCourse(course)">
                <i class="fas fa-shopping-cart"></i>
                Comprar Agora
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<app-testimonials></app-testimonials>
<app-benefits></app-benefits>
<app-our-space></app-our-space>
