<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3><img class="icon" src="assets/icons/cart.png" alt="icone carrinho">  Categorias</h3>
      <ul>
        <li><a href="#">Informática e Tecnologia</a></li>
        <li><a href="#">Área Administrativa</a></li>
        <li><a href="#">Área da Saúde</a></li>
        <li><a href="#">Idiomas</a></li>
        <li><a href="#">Preparatórios</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3> <img class="icon" src="assets/icons/perfil.png" alt="icone perfil">  Minha Conta</h3>
      <ul>
        <li><a href="#">Meus Cursos</a></li>
        <li><a href="#">Minha Conta</a></li>
        <li><a href="#">Suporte</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3><img class="icon" src="assets/icons/telefone.png" alt="icone telefone"> Contato</h3>
      <ul>
        <li> <img class="icon" src="assets/icons/whatsapp.png" alt="icone telefone"> 67 99270-7106</li>
        <li> <img class="icon" src="assets/icons/telefone.png" alt="icone telefone"> 67 99270-7106</li>
        <li> <img class="icon" src="assets/icons/pin.png" alt="icone telefone"> Av. 15 de Novembro, 1128, Centro</li>
        <li> <img class="icon" src="assets/icons/pin.png" alt="icone telefone"> Campo Grande | MS</li>
        <li> <img class="icon" src="assets/icons/email.png" alt="icone telefone"> masterkeymktgmail.com</li>
      </ul>
    </div>

    <div class="footer-section">
      <h3> <img class="icon" src="assets/icons/cadeado.png" alt="icone seguro">Compra Segura</h3>
      <div class="security-badges">
        <img src="assets/seguro.png" alt="Selo de Garantia">
      </div>
    </div>
  </div>
</footer>
